.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
  }
  
  .griditem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .griditem img {
    max-width: 100%;
    height: auto;
  }
  