.maindiv{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.categories {
    background-color: #f5f5f5;
    padding:0 30px;
    margin-right: 20px;
    border: 1px solid #000;
    height: 100vh;
     
  }
  .divTag{
    /* background-color: blue; */
    background-color: rgb(61, 61, 215);
  }
  
  .categories h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  
  .categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .categories li {
    font-size: 26px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    cursor: pointer;
  }
  
  .categories li:hover {
    text-decoration: underline;
  }

  .search{
    width: 80%;
    height: 50px;
    padding: 0px 40px;
    margin-left: 100px;
    border-radius: 4px;
    background-color: #e6e1e1;
 }
 .imgContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
 }
  
 .fristImg{
     
    background-color: #d1cbcb;
    margin-top: 2rem;
    height: 100vh;
     
 }
 .fristImg div{
    align-items: center;
 }
 .fristImg img{
  height: 65vh;
 }
 .secDiv{
    background-color: yellow;
    margin: 2rem;

 }
 .topMacth  {
    top: 10px;
 }